<% provide(:title, 'Edit profile') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Edit profile</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="row">
        <div class="col-md-6">
          <%= f.label :username %>
          <%= f.text_field :username %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="col-md-6">
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :location %>
          <%= f.text_field :location %>

          <%= f.label :website %>
          <%= f.text_field :website %>

          <%= f.label :github %>
          <%= f.text_field :github %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="edit-section">
            <%= f.label :welcome_section, "Welcome" %>
            <%= f.text_area :welcome_section, rows: 5 %>
          </div>
          <div class="edit-section">
            <%= f.label :about_section, "About" %>
            <%= f.text_area :about_section, rows: 5 %>
          </div>
          <div class="edit-section">
            <%= f.label :education_section, "Education" %>
            <%= f.text_area :education_section, rows: 5 %>
          </div>
          <div class="edit-section">
            <%= f.label :experience_section, "Experience" %>
            <%= f.text_area :experience_section, rows: 5 %>
          </div>
          <div class="edit-section">
            <%= f.label :projects_section, "Projects" %>
            <%= f.text_area :projects_section, rows: 5 %>
          </div>
          <div class="edit-section">
            <%= f.label :skills_section, "Skills" %>
            <%= f.text_area :skills_section, rows: 5 %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.submit "Save changes", class: "btn btn-lg btn-primary form-submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
