<% provide(:title, 'Edit profile') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Edit profile</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="row">
        <div class="col-md-6">
          <%= f.label :username %>
          <%= f.text_field :username %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>

          <%= f.submit "Save changes", class: "btn btn-lg btn-primary form-submit" %>
        </div>
        <div class="col-md-6">
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :location %>
          <%= f.text_field :location %>

          <%= f.label :website %>
          <%= f.text_field :website %>

          <%= f.label :github %>
          <%= f.text_field :github %>
        </div>
      </div>
    <% end %>
  </div>
</div>
