<% provide(:title, @user.username) %>

<div class="row">
  <div class="col-md-3 col-lg-2">
    <%= gravatar_for @user %>
    <div class="full-name"><%= @user.name %></div>
    <% if !@user.location.blank? %>
      <div class="location"><%= @user.location %></div>
    <% end %>
    <div class="contact-links">
      <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
      <% if !@user.website.blank? %>
        <a href="<%= @user.website %>" target="_blank"><%= @user.website %></a>
      <% end %>
      <% if !@user.github.blank? %>
        <a href="https://github.com/<%= @user.github %>" target="_blank">
          github.com/<%= @user.github %>
        </a>
      <% end %>
    </div>
    <nav id="affix-nav">
      <ul id="page-nav" class="nav nav-pills nav-stacked hidden-xs hidden-sm" data-spy="affix" data-offset-top="420">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 col-lg-10">
    <section id="home" class="df-section">
      <div class="section-title">Welcome!</div>
      <%= raw @user.welcome_section %>
    </section>
    <section id="about" class="df-section">
      <div class="section-title">About</div>
      <%= raw @user.about_section %>
    </section>
    <section id="education" class="df-section">
      <div class="section-title">Education</div>
      <%= raw @user.education_section %>
    </section>
    <section id="experience" class="df-section">
      <div class="section-title">Experience</div>
      <div>
        <div class="section-label">Co-Founder and Partner, <a href="http://figurehaven.com/" target="_blank">Figure Haven</a></div>
        <p class="section-italic">July 2009 - Present</p>
        <p>Started an e-commerce company to sell retail Japanese anime figures.</p>
        <ul>
          <li>Fully responsible for the development and day-to-day operations of the company.</li>
          <li>Revenue grew from $50 to almost $100,000 in sales per year.</li>
        </ul>
      </div>
      <div>
        <div class="section-label">Software Engineer, RedWhale Software</div>
        <p class="section-italic">October 2010 - June 2013</p>
        <p>Worked on a wide variety of technical projects for clients.</p>
        <ul>
          <li>Built an ASP.NET MVC 2 web application that enables users to receive score updates via SMS from their favorite sports teams. Teams can also upload their game schedules, add/edit content using a custom CMS, and manage local ad campaigns through an admin interface.</li>
          <li>Built an Adobe Flex application for a company specializing in real-time web session intelligence and behavioral analysis.</li>
          <li>Built a jQuery Mobile application for a startup creating a social network centered around health care professionals.</li>
          <li>Built the main website for a private capital investment firm.</li>
          <li>Managed and built a portfolio of websites for a corporation focused on background screenings.</li>
        </ul>
      </div>
    </section>
    <section id="projects" class="df-section">
      <div class="section-title">Projects</div>
      <section class="project">
        <div class="section-label"><a href="http://devfolio.herokuapp.com" target="_blank">Devfolio</a></div>
        <p>Personal portfolios for developers.</p>
      </section>
      <section class="project">
        <div class="section-label"><a href="http://dollars-bbs.org" target="_blank">Dollars BBS</a> <span>(pw: baccano)</span></div>
        <p>Recreated a fictional website found in an anime (<a href="http://myanimelist.net/anime/6746/Durarara!!" target="_blank">Durarara!!</a>) using <a href="http://wakaba.c3.cx/s/web/wakaba_kareha" target="_blank">Kareha</a>.</p>
      </section>
      <section class="project">
        <div class="section-label"><a href="http://pastecount.com" target="_blank">PasteCount</a></div>
        <p>A lightweight character counter built using JavaScript.</p>
      </section>
      <section class="project">
        <div class="section-label"><a href="http://rankgifts.com" target="_blank">RankGifts</a></div>
        <p>A gift ranking website built using PHP, the <a href="https://github.com/Exeu/Amazon-ECS-PHP-Library" target="_blank">Amazon ECS PHP Library</a>, and Bootstrap.</p>
      </section>
      <section class="project">
        <div class="section-label"><a href="http://sc2builds.com" target="_blank">SC2 Builds</a></div>
        <p>A Ruby on Rails app for finding and posting Starcraft 2 build orders.</p>
        <p>Built by a two-person team.</p>
      </section>
      <section class="project">
        <div class="section-label"><a href="http://songlooper.com" target="_blank">Song Looper</a></div>
        <p>Create and loop custom playlists for YouTube videos.</p>
      </section>
      <section class="project">
        <div class="section-label">
          <a href="http://projects.dicksontse.com/acpoi/" target="_blank">Alameda County - Points of Interest (AC POI)</a>
          <span class="label-sep">|</span>
          <a href="https://github.com/andrewwu/acpoi" target="_blank" class="github">GitHub</a>
        </div>
        <p>A jQuery Mobile application that lets Alameda County residents and visitors easily find local points of interest.</p>
        <p>It was built during the <a href="http://code.acgov.org/2012/winners.htm" target="_blank">Alameda County Apps Challenge 2012</a> and received an honorable mention.</p>
      </section>
      <section class="project">
        <div class="section-label">
          <a href="http://projects.dicksontse.com/game-off/" target="_blank">Branch and Merge</a>
          <span class="label-sep">|</span>
          <a href="https://github.com/dicksontse/game-off-2012" target="_blank" class="github">GitHub</a>
        </div>
        <p>A game built with HTML5 / jQuery where you alternate between branching and merging.</p>
        <p>It was built during the <a href="https://github.com/github/game-off-2012" target="_blank">GitHub Game Off 2012</a>.</p>
      </section>
    </section>
    <section id="skills" class="df-section">
      <div class="section-title">Skills</div>
      <section>
        <div class="section-label">Languages</div>
        <ul>
          <li>HTML, CSS</li>
          <li>JavaScript</li>
          <li>C#</li>
        </ul>
      </section>
      <section>
        <div class="section-label">Frameworks</div>
        <ul>
          <li>jQuery</li>
          <li>jQuery Mobile</li>
          <li>ASP.NET MVC 2</li>
        </ul>
      </section>
      <section>
        <div class="section-label">Development Tools</div>
        <ul>
          <li>Adobe Photoshop</li>
          <li>Firebug</li>
          <li>Sublime Text 2</li>
          <li>Microsoft SQL Server 2008 R2</li>
          <li>Visual Studio 2010 Professional</li>
        </ul>
      </section>
      <section>
        <div class="section-label">Operating Systems</div>
        <ul>
          <li>Windows</li>
          <li>Mac OS X</li>
        </ul>
      </section>
      <section>
        <div class="section-label">Web Platforms</div>
        <ul>
          <li>WordPress</li>
          <li>PrestaShop</li>
          <li>Kareha</li>
        </ul>
      </section>
    </section>
  </div>
</div>
