<% provide(:title, @user.username) %>

<div class="row">
  <div class="col-md-3 col-lg-2">
    <%= gravatar_for @user %>
    <div class="full-name"><%= @user.name %></div>
    <% if !@user.location.blank? %>
      <div class="location"><%= @user.location %></div>
    <% end %>
    <div class="contact-links">
      <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
      <% if !@user.website.blank? %>
        <a href="<%= @user.website %>" target="_blank"><%= @user.website %></a>
      <% end %>
      <% if !@user.github.blank? %>
        <a href="https://github.com/<%= @user.github %>" target="_blank">
          github.com/<%= @user.github %>
        </a>
      <% end %>
    </div>
    <nav id="affix-nav">
      <ul id="page-nav" class="nav nav-pills nav-stacked hidden-xs hidden-sm" data-spy="affix" data-offset-top="420">
        <li class="active"><a href="#welcome">Welcome</a></li>
        <% if !@user.about_section.blank? %>
          <li><a href="#about">About</a></li>
        <% end %>
        <% if !@user.education_section.blank? %>
          <li><a href="#education">Education</a></li>
        <% end %>
        <% if !@user.experience_section.blank? %>
          <li><a href="#experience">Experience</a></li>
        <% end %>
        <% if !@user.projects_section.blank? %>
          <li><a href="#projects">Projects</a></li>
        <% end %>
        <% if !@user.skills_section.blank? %>
          <li><a href="#skills">Skills</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 col-lg-10">
    <section id="welcome" class="df-section">
      <div class="section-title">Welcome!</div>
      <%= raw @user.welcome_section %>
    </section>
    <% if !@user.about_section.blank? %>
      <section id="about" class="df-section">
        <div class="section-title">About</div>
        <%= raw @user.about_section %>
      </section>
    <% end %>
    <% if !@user.education_section.blank? %>
      <section id="education" class="df-section">
        <div class="section-title">Education</div>
        <%= raw @user.education_section %>
      </section>
    <% end %>
    <% if !@user.experience_section.blank? %>
      <section id="experience" class="df-section">
        <div class="section-title">Experience</div>
        <%= raw @user.experience_section %>
      </section>
    <% end %>
    <% if !@user.projects_section.blank? %>
      <section id="projects" class="df-section">
        <div class="section-title">Projects</div>
        <%= raw @user.projects_section %>
      </section>
    <% end %>
    <% if !@user.skills_section.blank? %>
      <section id="skills" class="df-section">
        <div class="section-title">Skills</div>
        <%= raw @user.skills_section %>
      </section>
    <% end %>
  </div>
</div>
