<% provide(:title, @user.username) %>

<div class="row">
  <div class="col-md-3 col-lg-2">
    <img src="http://dicksontse.com/dtse_profile.png">
    <div class="full-name"><%= @user.name %></div>
    <% if !@user.location.blank? %>
      <div class="location"><%= @user.location %></div>
    <% end %>
    <div class="contact-links">
      <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
      <% if !@user.website.blank? %>
        <a href="<%= @user.website %>" target="_blank"><%= @user.website %></a>
      <% end %>
      <% if !@user.github.blank? %>
        <a href="https://github.com/<%= @user.github %>" target="_blank">
          github.com/<%= @user.github %>
        </a>
      <% end %>
    </div>
    <nav id="affix-nav">
      <ul id="page-nav" class="nav nav-pills nav-stacked hidden-xs hidden-sm" data-spy="affix" data-offset-top="420">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 col-lg-10">
    <section id="home" class="df-section">
      <div class="section-title">Welcome!</div>
    </section>
  </div>
</div>
