<header class="navbar navbar-static-top navbar-inverse df-nav">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Devfolio", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav nav-pills navbar-right">
      <% if signed_in? %>
        <li class="<%= 'active' if current_page?(user_path(current_user)) %>">
          <%= link_to current_user.username, user_path(current_user) %>
        </li>
        <li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>">
          <%= link_to "Edit profile", edit_user_path(current_user) %>
        </li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </div>
</header>
